/*  fonts
font-family: 'Exo', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Jura', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Gruppo', cursive;
font-family: 'Megrim', cursive;
*/

body{ 	
	font: normal 85% Arial, Helvetica, sans-serif;
	background: radial-gradient(circle, #3366ff, #003399, #000819); /* Standard syntax */
	color: #fff;
}

#title {
	margin-left: 3rem;
	position: fixed;
	display: block;
	text-align: center;
	font-size:10rem;
	font-family: 'Megrim', cursive;
	opacity: 0.6;
	/*z-index: -1; */
}
#mainQ {
	font-family: 'Jura', sans-serif;
	color: #fff;
	position: relative;
	display: block;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 3rem;
}

#autoResponse {
	font-family: 'Jura', sans-serif;
	color: #fff;
	position: relative;
	display: block;
	text-align: center;
}

#image {
	display: block;
	margin: auto;
	border-radius: 10%;
	border:1px solid #383838;
	box-shadow:3px 4px 6px #333333;
}

div {
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}

button{
	font-family: 'Exo', sans-serif;
	width: 20rem;
	border:thin solid black;
	margin-top: 1rem;
	margin-left: 2rem;
	border-radius:3px;
	padding:10px 30px;
	color:#BBB;
	box-shadow:0px 1px 0 #AAA inset, 0px 1px 0 #444;
	outline:none;
	background: #676e70; /* Old browsers */
	background: -moz-linear-gradient(top,  #676e70 0%, #2a2d2c 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676e70), color-stop(50%,#2a2d2c), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#676e70', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */

}

button:hover{
	box-shadow:0px 1px 0 #AAA inset,0 0 20px -5px #999 inset, 0px 1px 0 #444;
	color:white;
}

button:active{
	box-shadow:0 0 10px #000 inset, 0px 1px 0 #444;
	color:#999;
	background: #202323; /* Old browsers */
	background: -moz-linear-gradient(top,  #202323 0%, #131414 50%, #000000 50%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202323), color-stop(50%,#131414), color-stop(50%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202323', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

   /*------------------------------------------*/
.selected {
	
}
 
 